.headlines {
  width: 100%; }
  .headlines .headlines__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .headlines .headlines__main-headline {
    font-family: 'Roboto Light', sans-serif;
    font-size: 3.75vw;
    font-weight: 100;
    letter-spacing: 0.32vw;
    color: #ffffff; }
  .headlines .headlines__second-headline {
    margin-top: 0.5vw;
    font-size: 2.344vw;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    letter-spacing: 0.15vw;
    color: #ffffff; }

@media screen and (max-device-width: 750px) {
  .headlines {
    margin: 63px auto 0 auto; }
    .headlines .headlines__main-headline {
      font-size: 17px; }
    .headlines .headlines__second-headline {
      font-size: 15px; } }
