.description-section {

  .description-section__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .react-tabs {
      .react-tabs__tab-list {
        display: flex;
        justify-content: center;
        margin: 0;
        border: none;
      }

      .react-tabs__tab--selected {
        background-color: #ecf0f0;
      }

      .react-tabs__tab {
        font-family: 'Roboto Light';
        border: none;
        color: #092327;
        border-top: 1px solid #ecf0f0;
        border-radius: 0;
        margin: 0 10px;
        flex-basis: 15%;
        padding: 10px 0;
        text-align: center;
      }

      .react-tabs__tab:focus {
        box-shadow: none;
        border: none;

        &:after {
          content: none;
        }
      }
    }
  }

  .description-section__button-container {
    display: flex;
    width: 85%;
    justify-content: flex-end;
    background-color: #ecf0f0;
  }

  .description-section__button-inner-container {
    background-color: #ecf0f0;
    width: 100%;
  }

  .description-section__button {
    padding: 7px 40px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #092327;
    background: transparent;
    align-self: flex-end;
    font-size: 16px;
    margin: 30px 0 20px 0;
    font-family: 'Roboto';
    color: #092327;
    font-weight: bold;
  }


  .description-section__title {
    font-size: 1.2em;
    font-weight: 500;
    color: #092327;
    padding: 20px 0;
  }

  .description-section__image {
    width: 100%;
    height: 100%;
  }

  .description-section__option {
    display: flex;
    justify-content: center;
    background-color: #ecf0f0;
    padding: 50px 24px;
  }

  .description-section__option-container {
    background-color: #ecf0f0;
    display: flex;
    width: 85%;
    justify-content: center;
  }

  .description-section__main-image-container {
    width: 33%;
    align-self: flex-start;
  }

  .description-section__main-image-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%; // пропорции блока определяются здесь
  }


  .description-section__main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--room {
      background: url("../../../images/2.jpg");
      background-size: 100% 100%;
    }

    &--kitchen {
      background: url("../../../images/kitchen.jpg");
      background-size: 100% 100%;
    }

    &--hall {
      background: url("../../../images/hall.jpg");
      background-size: 100% 100%;
    }

    &--bathroom {
      background: url("../../../images/bathroom.jpg");
      background-size: 100% 100%;
    }
  }
  .description-section__item-container {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }

  .description-section__item {
    display: flex;
    margin: 0 25px;
    align-items: center;
    width: 40%
  }

  .description-section__image-container {
    display: flex;
    min-width: 8vw;
    min-height: 8vw;

    max-width: 8vw;
    max-height: 8vw;
  }

  .description-section__image {
     min-width: 100%;
     min-height: 100%;

    max-width: 100%;
    max-height: 100%;
  }

  .description-section__text {
    font-family: 'Roboto';
    color: #092327;
    font-size: 16px;
    padding: 10px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 960px) {
  .description-section {

    .description-section__option {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .description-section__option-container {
      background-color: #ecf0f0;
    }

    .description-section__main-image-container {
      align-self: auto;
      width: 50%;
    }
    .description-section__item-container {
      display: flex;
      flex-basis: 40%;
      margin: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .description-section__item {
      display: flex;
      margin: 0 25px 25px 25px;
      align-items: center;
      width: 40%
    }

   .description-section__image-container {
      display: flex;
      min-width: 10vw;
      min-height: 10vw;

      max-width: 10vw;
      max-height: 10vw;
    }
  }
}
@media screen and (max-device-width: 750px) {
  .description-section {
    .description-section__option {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .description-section__main-image-container {
      width: 80%;
    }

    .description-section__main-image {
      height: 100%;
    }

    .description-section__main-image-wrapper {
      width: 64vw;
      padding-bottom: 0;
      height: 30vw;
    }


    .description-section__item-container {
      display: flex;
      flex-basis: 40%;
      margin: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .description-section__text {
      font-weight: 300;
    }

    .description-section__image-container {
      display: none;
    }

    .description-section__item {
      display: flex;
      margin: 0;
      align-items: center;
      width: 100%;
      font-size: 15px;
    }


    .description-section__button-container {
      display: flex;
      justify-content: center;
    }

    .description-section__button {
      margin: auto;
      font-size: 14px;
    }

    .react-tabs__tab {
      min-width: 18%;
    }
  }
}
@media screen and (max-device-width: 450px) {
  .description-section {

    .description-section__inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .react-tabs {
        .react-tabs__tab-list {
          display: flex;
          justify-content: center;
          margin: 0;
          border: none;
        }

        .react-tabs__tab {
          margin: 0;
          flex-basis: 30%;
        }
      }
    }

    .description-section__button-container {
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #ecf0f0;
    }

    .description-section__button-inner-container {
      background-color: #ecf0f0;
      width: 100%;
    }

    .description-section__button {
      padding: 7px 40px;
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid #092327;
      background: transparent;
      align-self: flex-end;
      font-size: 16px;
      margin: 5px 0 10px 0;
      font-family: 'Roboto';
      color: #092327;
      font-weight: bold;
    }


    .description-section__title {
      font-size: 1.2em;
      font-weight: 500;
      color: #092327;
      padding: 20px 0;
    }

    .description-section__image {
      width: 100%;
      height: 100%;
    }

    .description-section__option {
      padding: 20px 20px 0 20px;
    }

    .description-section__option-container {
      flex-direction: column;
      width: 100%;
    }

    .description-section__main-image-container {
      width: 100%;
      align-self: flex-start;
      display: flex;
      justify-content: center;
    }

    .description-section__main-image-wrapper {
      overflow: hidden;
      position: relative;
      width: 84%;
      padding-bottom: 50%; // пропорции блока определяются здесь
    }


    .description-section__item-container {
      display: flex;
      flex-basis: 80%;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;
    }

    .description-section__text {
      font-family: 'Roboto';
      color: #092327;
      font-size: 15px;
      padding: 10px;
      letter-spacing: 1px;
      position: relative;
    }

    .description-section__text:before {
      content: '\25CF';
      position: absolute;
      left: -10px;
      color: #2ebaa7;
      font-size: 12px;
    }
  }

}