.main-section{
  width: 100%;
  height: 38.5vw;
  //background: url('../../../images/ma') no-repeat;
  background: url("../../../images/main-page-backgound-min.png") no-repeat;
  background-size: 100% 100%;

  .main-seсtion__inner-container{
    width: 100%;
    height: 100%;
    position: relative;
  }
}


@media screen and (max-device-width: 750px ){
  .main-section {
    width: 100%;
    height: 150.5vw;
    background-size: 143% 93%;
  }
}
