.calculator-mini {
  font-family: 'Roboto';
  width: 58.2%;
  height: 4.4vw;
  background-color: #ecf0f0;
  position: absolute;
  left: 20.9%;
  top: 36vw;
  display: flex;
  justify-content: center;
  font-size: 1.2vw; }
  .calculator-mini--cottage {
    width: 35%;
    left: 31.9%; }
  .calculator-mini .calculator-mini__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 96%; }
  .calculator-mini .calculator-mini__button-block {
    width: 29.73%;
    height: 57.647%; }
  .calculator-mini .calculator-mini__button-block--cottage {
    width: 50%; }
  .calculator-mini .calculator-mini__button-block_makeorder-style {
    width: 37.84%;
    color: #ffffff; }
    .calculator-mini .calculator-mini__button-block_makeorder-style--cottage {
      width: 49.84%; }
  .calculator-mini .calculator-mini__button-block-inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .calculator-mini .calculator-mini__button-block-button {
    height: 100%;
    width: 15.36%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #092327; }
  .calculator-mini .calculator-mini__button-block-text {
    width: 68%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto THIN', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; }
  .calculator-mini .calculator-mini__button-block-text_makeorder-style {
    width: 100%;
    background-color: #2ebaa7;
    font-weight: 300; }

@media screen and (max-device-width: 750px) {
  .calculator-mini {
    padding-top: 80px;
    width: auto;
    height: auto;
    position: static;
    justify-content: center;
    font-size: 16px;
    background: transparent; }
    .calculator-mini .calculator-mini__inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 96%; }
    .calculator-mini .calculator-mini__button-block {
      width: 73%;
      height: auto; }
    .calculator-mini .calculator-mini__button-block-inner-container {
      padding: 10px; }
    .calculator-mini .calculator-mini__button-block-button {
      height: auto;
      width: 15.36%;
      background-color: #ffffff;
      font-family: 'Roboto Thin', sans-serif;
      font-weight: 100;
      font-size: inherit;
      display: -ms-flexbox;
      display: flex;
      padding: 5px 0;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      color: #092327; }
    .calculator-mini .order__button {
      padding: 5px 10px;
      font-family: 'Roboto'; }
    .calculator-mini .calculator-mini__button-block-text {
      padding: 5px 0;
      font-weight: 300; } }
