.processing-section {
  background: white; }
  .processing-section .processing-section__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding-bottom: 100px; }
  .processing-section .processing-section__title {
    font-family: 'Roboto';
    margin-top: 4.9vw;
    font-size: 18px;
    font-weight: 500;
    color: #092327;
    padding: 20px 0; }
  .processing-section .processing-section__parameter-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .processing-section .processing-section__parameter {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .processing-section .processing-section__image-container {
    width: 100px;
    height: 100px;
    padding: 20px 0 40px; }
  .processing-section .processing-section__image {
    width: 100%;
    height: 100%; }
  .processing-section .processing-section__description {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    padding: 10px 0;
    text-align: center; }
  .processing-section .processing-section__container {
    display: flex;
    flex-direction: column;
    width: 30%; }
  .processing-section .processing-section__text-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #092327;
    text-align: center;
    padding: 5px 0; }
  .processing-section .processing-section__text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 200;
    color: #788587;
    text-align: center; }

@media screen and (max-width: 750px) {
  .processing-section .processing-section__inner-container {
    align-items: center;
    width: 70%;
    margin: auto;
    padding-bottom: 100px; } }

.site-slider {
  width: 100%; }

.slick-prev:before, .slick-next:before {
  color: #2ebaa7; }

.slick-next:before {
  content: url("../../../images/arrow-right.png"); }

.slick-prev:before {
  content: url("../../../images/arrow-left.png"); }

.slick-prev, .slick-next {
  top: 36%; }

* {
  min-height: 0;
  min-width: 0; }
